#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 6px;
}

.svg-container {
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.copy-button {
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 5px;
}

.copy-button:hover {
  cursor: pointer;
}

.copy-png {
  background-color: hsl(0 100 80);
}

.copy-png:hover {
  background-color: hsl(0 150 80);
}

.copy-html {
  background-color: hsl(210 100 80);
}

.copy-html:hover {
  background-color: hsl(220 100 80);
}
