nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
}

label {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.menu {
  opacity: 0;
}

.option {
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

input {
  cursor: pointer;
  vertical-align: middle;
  accent-color: hsl(210 100 70);
}

input[type="color"] {
  opacity: 0;
  position: absolute;
  transform: translateX(-100%);
}

.color-display {
  display: inline-block;
  height: 1.4em;
  width: 50px;
  background-color: black;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 2px;
  margin: -10px 3px;
}

#fill-color-display {
  background-color: white;
}

#stroke-width-value {
  /* Keeps width constant */
  width: 40px;
  display: inline-block;
  text-align: end;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
